.rt-container {
  display: flex;
  padding-top: 90px;
  height: calc(100vh - 90px);
  background: #0a3d3d;
  color: white;
}

.rt-left, .rt-right {
  flex: 1;
  padding: 2rem;
}

.rt-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #c4e538;
  margin-bottom: 1rem;
}

.rt-video-box iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.rt-processed-box {
  width: 100%;
  height: 350px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rt-processed-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
8
.rt-focus-panel {
  margin-top: 15px;
  background: rgba(255,255,255,0.05);
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  font-size: 1.2rem;
}

.rt-waiting {
  color: #aaa;
}
