@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Ensure page starts at top and no default margin */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}